/* =============================================================
   PRE-LOADING CUSTOM STYLES
 ============================================================ */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.pre-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/loader.gif) center no-repeat #fff;
}

body{
  background-color: #fff;
}
/* =============================================================
   NAVBAR CUSTOM STYLES
 ============================================================ */
.navbar.transparent.navbar-inverse{
    background-color: rgb(0, 0, 0);
}

.nav.navbar-nav li a{
  color: #fff;
}
  .nav.navbar-nav li a:hover{
    color: #3498db;
  }
 


.nav.navbar-nav > .btn{
  background: transparent;
}
.nav.navbar-nav > .btn:hover{
  background: #3498db;
}

#id{
  margin-left: 150px;
}

/* Modal styling */
.modal-body-custom,
.modal-header-custom,
.modal-footer-custom{
  background: #2c3e50;
}
.modal-title{
  color: #ffffff;
}
.row-content a {
  color: #ffffff;
  text-decoration: none;
}

.close-custom {
  color: #ffffff;
}

#home{
  margin-top: -20px;
}
/* =============================================================
   CARD LAYOUT CUSTOM STYLES
 ============================================================ */
#cards{
	margin-top: 3%;
}

#cards, .row {
	padding: 10px;
}

.jumbotron{
  background: url(../img/jumbotron-header.png);
}
.panel-default > .panel-heading-fb{
	background: #3b5998;
}

.panel-default > .panel-heading-tw{
	background: #326ada;
}

.panel-default > .panel-heading-insta{
	background: #3f729b;
}
.panel-default > .panel-heading-bbbs{
	background: #8A2BE2;
}
.panel-default > .panel-heading-donate{
	background: #f1c40f;
}
.panel-default > .panel-heading-cs{
	background: #228B22;
}
.panel-default > .panel-heading-youth{
	background: #1E90FF;
}
.panel-default > .panel-heading-news{
  background:   #A9A9A9;
}
.panel-default > .panel-heading-events{
  background: #2c3e50;
}
.panel-default > .panel-heading-signup,
.panel-default > .panel-heading-news{
  background: #8e44ad;
}
	.text-color-white{
		color: #ffffff;
	}

  #donate-btn-color{
    background: #f1c40f;
  }

.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
    margin: auto;
}
.fb-btn,
.tw-btn,
.insta-btn {
    color: #fff;
}

.panel-heading-fb a:hover,
.panel-heading-tw a:hover,
.panel-heading-insta a:hover{
  opacity: 0.8;
}

#local-map{
  background: #fff;
}

.map-container{
  margin-top: 20px;
}

/* =============================================================
   CAROUSEL OWL CUSTOM STYLES
 ============================================================ */

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0px;
}
/* =============================================================
   FOOTER CUSTOM STYLES
 ============================================================ */
  .footer{
    background: #2c3e50;
    color: #fff;
}
#btn{

    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    /* CSS Transition */
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;

}

#btn:hover {
    background: #3498db;
}

  .floating-label {
    color: #03a9f4;
  }

